# PostgreSQL
POSTGRES_DB=expense_db
POSTGRES_USER=expense_user
POSTGRES_PASSWORD=changeme

# Keycloak admin credentials (for Keycloak management UI)
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Backend
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=expense-app
KEYCLOAK_CLIENT_ID=expense-frontend
BACKEND_CORS_ORIGINS=["http://localhost:4200"]

# Image versions
POSTGRES_VERSION=19
KEYCLOAK_VERSION=26.6.0
PYTHON_VERSION=3.12-slim
UV_VERSION=latest
NODE_VERSION=24-alpine
